
.ic__container, .ic__week-head, .ic__week-head td, .ic__days, .ic__days td, .ic__header, .ic__prev, .ic__next, .ic__datepicker {
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 13px;
    margin: 0;
    padding: 0;
    text-shadow: none !important;
}
.ic__container {
    background: none repeat scroll 0 0 #fff;
    position: relative;
}
.ic__container table {
    border: 0 none;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 100%;
}
.ic__header {
    background: none repeat scroll 0 0 #fb961b;
    height: 35px;
    position: relative;
}
.ic__prev, .ic__next {
    background-color: #fb961b;
    cursor: pointer;
    height: 35px;
    position: absolute;
    top: 0;
    width: 7%;
}
.ic__prev:hover, .ic__next:hover {
    background-color: #011c53;
}
.ic__prev div, .ic__next div {
    border: 5px solid transparent;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}
.ic__prev {
    left: 0;
}
.ic__prev div {
    border-right-color: #fff;
    left: 50%;
    margin-left: -7px;
    top: 13px;
}
.ic__next {
    right: 0;
}
.ic__next div {
    border-left-color: #fff;
    margin-right: -7px;
    right: 50%;
    top: 13px;
}
.ic__month {
    left: 9%;
    position: absolute;
    top: 6px;
    width: 50%;
}
.ic__year {
    position: absolute;
    right: 9%;
    top: 6px;
    width: 30%;
}
.ic__header select {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: inherit;
    padding: 2px;
    width: 100%;
}
.ic__header select:focus {
    outline: medium none;
}
.ic__week-head td {
    border: 1px solid #ebebeb;
    color: #b5b5b5;
    font-size: 9px;
    line-height: 1.333;
    padding: 10px 0 8px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 14%;
}
.ic__days {
    margin-top: -1px;
}
.ic__days td {
    border: 1px solid #ebebeb;
    color: #757575;
    font-size: 9px;
    line-height: 1.333;
    padding: 10px 0 8px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 14%;
}
.ic__days .ic__day {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
}
.ic__days .ic__day:hover {
    background: none repeat scroll 0 0 #011c53;
    color: #fff;
}
.ic__days .ic__day-empty {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF7u7u////KNOqmgAAABlJREFUeNpiYGRkZABCCGIA8UAEI4QACDAAAUoAFV5+ydgAAAAASUVORK5CYII=") repeat scroll 0 0 #fff;
}
.ic__days .ic__day_state_current {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #000;
}
.ic__days .ic__day_state_selected {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #000;
}
.ic__datepicker {
    background: none repeat scroll 0 0 #fb961b;
    border-radius: 2px;
    left: -9999px;
    padding: 3px;
    position: absolute;
    top: -9999px;
    width: 250px;
    z-index: 9999;
}