/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Nov, 2017, 1:34:25 AM
    Author     : palo12
*/
/*.stripe-button-el { 
    border-radius:20px !important; 
    background-image: none!important;
    box-shadow: 0 0 8px #011c53!important;
}
.stripe-button-el span{
    width: 165px; 
    height: 184px!important;
    background: url(../img/preferences/payment-3.png) center top no-repeat!important;    
    background-size: 100% 100%!important; 
    text-shadow: none!important;
    color: #F3F2F6!important;
}*/

.stripe-button-el{
    width: 100%;
    height: 257px!important;
    background: url(../img/preferences/payment-3.png) center top no-repeat!important;
    background-size: 100% 100%!important;
    border-radius:20px !important;
    box-shadow: 0 0 8px #011c53!important;}
.stripe-button-el span{  
    background: none!important;
    visibility: hidden}