.color0{
    color:#0032AB
}
.color1 {
    color: #37363e
}

.color2 {
    color: #2494A2
}

.color3 {
    color: #fff
}

.color4 {
    color: #f5f5f5
}

.color5 {
    color: #0064D5
}

.color6 {
    color: #33577b
}

.color7 {
    color: #26a65b
}

.color8 {
    color: #51b7a3
}

.color9 {
    color: #f39c12
}

.color10 {
    color: #ef4836
}

.color11 {
    color: #9a80b9
}

.color12 {
    color: #a2ded0
}

.color13 {
    color: #d2527f
}

.color14 {
    color: #c78568
}

.color15 {
    color: #e99844
}
.color16{color:#68A19C}
.color17{color:#661243}
.color18{color:green}

.color0-bg {
    background: #3d464d
}

.color1-bg {
    background: #37363e
}

.color2-bg {
    background: #58666e
}

.color3-bg {
    background: #e4e4e4
}

.color4-bg {
    background: #f5f5f5
}

.color5-bg {
    background: #399bff
}

.color6-bg {
    background: #33577b
}

.color7-bg {
    background: #26a65b
}

.color8-bg {
    background: #51b7a3
}

.color9-bg {
    background: #f39c12
}

.color10-bg {
    background: #ef4836
}

.color11-bg {
    background: #9a80b9
}

.color12-bg {
    background: #a2ded0
}

.color13-bg {
    background: #d2527f
}

.color14-bg {
    background: #c78568
}

.color15-bg {
    background: #e99844
}

.ilumony-bg0{
    background:url('../img/crypto-coins1.png')center center no-repeat;
    background-size: cover; 
    text-decoration: none;

}

.ilumony-bg1{
    background-image: url('../img/ilumony-bg1.png');    
    background-repeat: no-repeat;
    background-size: cover; 
    text-decoration: none;

}

.ilumony-bg2{
    background-image: url('../img/ilumony-bg2.png');    
    background-repeat: no-repeat;
    background-size: cover;

}
.ilumony-bg3{
    background-image: url('../img/ilumony-bg3.png');    
    background-repeat: no-repeat;
    background-size: cover;

}
.ilumony-bg4{
    background-image: url('../img/ilumony-bg4.png');    
    background-repeat: no-repeat;
    background-size: cover;

}
.ilumony-bg5{
    background-image: url('../img/ilumony-bg5.png');    
    background-repeat: no-repeat;
    background-size: cover;

}
.ilumony-bg1{
    background-image: url('../img/ilumony-bg1.png');    
    background-repeat: no-repeat;
    background-size: cover;

}


.bubble {
    width: 100%;
    padding: .5em;
    line-height: 1.0em;  
    font-size:12px;
    background-color: #ecf0f1;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: left;
    display: inline-block; }
.bubble:hover > .over-bubble {
    opacity: 1; }

.bubble-container {
    width: 75%;
    display: block;
    position: relative;
    padding-left: 10px;
    vertical-align: top;
    display: inline-block; }

.arrow {
    content: '';
    display: block;
    position: absolute;
    left: 12px;
    bottom: 25%;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #ecf0f1; }

.timeline {
    width: 100%;
    display: block;
    margin: auto;
    list-style: none;
    padding-left: 0px;
    background-color: #dde1e2;
    padding-bottom: 2em;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 2em; }
.timeline li {
    padding: .5em 0; }
.timeline li:nth-child(even) {
    background-color: #d3d7d8; }

.avatar {
    width: 18%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin-left: 2%; }
.avatar img {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ecf0f1;
    position: relative; }
.avatar:hover > .hover {
    cursor: pointer;
    opacity: 1; }

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    top: 0;
    font-size: 1.8em;
    border: 5px solid #5cc0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding-top: 24%;
    opacity: 0;
    font-family: 'FontAwesome';
    font-weight: 300;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }

.first-title {
    width:100%;
    display: block;
    margin: auto;
    background-color: #3498db;
    text-shadow: #2084c7 1px 1px 0;  
    color: white;
    text-align: center;  
    padding: 5px 0px;
    font-size: 1.2em;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    position: relative; }

.icon-twitter {
    font-size: 1.5em; }

.new {
    position: absolute;
    right: 5%; }

.over-bubble {
    line-height: 1.4em;
    padding-top: 5%;
    background-color: rgba(236, 240, 241, 0.8);
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    position: absolute !important;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    font-size: 2.0em;
    text-shadow: white 1px 1px 0;
}

.action {
    margin-right: .3em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }

.icon-star {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
.icon-star:hover {
    cursor: pointer;
    color: #f39c12; }

.icon-retweet{
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
.icon-retweet:hover {
    cursor: pointer;
    color: #16a085; }

.icon-mail-reply {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
.icon-mail-reply:hover {
    cursor: pointer;
    color: #3498db; }

/*h3 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Lato';
    margin-bottom: .2em;
    color: #95a5a6;
    margin-top:.2em}*/
/*h6 {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Lato';
    margin-bottom: .2em;
    color: #95a5a6;
    margin-top:.2em}*/

.retweet {
    position: absolute;
    opacity: 1;
    top: 0;
    right: 1em;
    display: block;
    background-color: #16a085;
    padding: 4px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px; }
.retweet .icon-retweet {
    color: white;
    margin: auto;
    width: 100%;
    display: block;
    font-size: 1.2em; }
.fund-btn img:hover{width:100%;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); transition: all 0.6s cubic-bezier(0.150, 0.84, 0.44, 1);}
.el-tablo1{ padding: 5px; background: #7cb5ec;background: linear-gradient(#009FFF,#48BAFF);box-shadow: 0px 15px 3px -8px #000;}
.text{ display: block}
li{ list-style: none}
.investment-content{text-align: center; padding:30px 0; background: url(../img/bg-pattern2.png); background-size: cover; margin-top: 20px; margin-bottom: 20px }
.centered{ margin: 0 auto}
@media (max-width:767px){
    .centered{ margin: 10px auto}
}