
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #6441A5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
}

body {
    background: transparent;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    position: relative;
    text-align: left;
    min-height:400px;
}
/*buttons*/
#msform .action-button {
    width: 179px;
    background: #011c53;
    float: left;
    color:#fff;
    line-height: 19px;
    text-align: center;
    border: 0 none;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 0;
}
/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/* Not relevant to this form */
.header_form_s {
    background: #011c53; 
    margin-bottom: 18px;	
}
.fs-title1 {
    font-size: 19px;
    color: #fff;
    /*font-family: roboto;*/
    margin: 0px;
    padding: 10px 0px;
    float: left;
}
.in_form_container {
    padding: 0 10px;
    width: 100%;
    float: left;
}
.in_form1{

    padding: 0 10px;
}
#msform p{
    font-size: 14px;
}
.ver_status h2{
    font-size: 16px;
    color: #011c53;
    font-weight: 600;
}

.ver_status1 img {
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    max-width:91px;
    min-height:91px;
}
.ver_status1 h3{
    font-size: 16px;
    color: #011c53
}
.ver_status{
    width: 100%;
    float: left;
    margin-bottom: 16px;
}
.header_form_s img{
    float:right;

}
.header_form_s.in_form_container {
    background: #011c53;
    margin-bottom: 18px;
    padding: 4px 10px;
}
.where_reside h2 {
    font-size: 19px;
    text-align: center;
    color: #011c53;
    padding: 37px 0px;
}
.where_reside.photoshot-re h2 {

    padding: 12px 0px;
}
.btn_section{  
    background: #f2f4f8;
    border-radius: 5px;
    margin: auto;
    width: 100%;
    padding: 16px 8px;
    -webkit-box-shadow: 0 0 6px 0px #7b7878;
    box-shadow: 0 0 6px 0px #7b7878;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
    min-height: 167px;
}
fieldset{
    min-height: 316px;
}
.btn_area1 img {
    max-width: 40px;
    margin: 0 10px;
}
.btn_area1 {
    border: 1px solid #011c53;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 54px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 228px;
    max-width: 228px;
    margin-rigth: 10px;
    margin-bottom: 10px;
}
.btn_area1_span{

    background: #011c53;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    padding: 11px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    text-align: center;
    line-height: 15px;
}
.btn_section a:hover{
    text-decoration:none; 	
}
.btn_area1_img {
    width: 80px;
    max-width: 80px;	
}
.form_cont{
    max-width: 600px;
    margin: auto;
}
.form-style-6 {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 457px;
    /*width: 600px;*/
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    display: table;
}
.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-flex: 1;

    -ms-flex-positive: 1;

    flex-grow: 1;

    margin-bottom: 4%;

    padding: 4px;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    margin-bottom:0;
    border:0;
}


.action-button-Next{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 2%;
    background: #011c53;
    border-bottom: 2px solid #011c53;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    float: left;
    text-align: center;
    border-radius: 4px;
    font-size: 19px;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2EBC99;
}
.input-group-label{
    float:left;	
}
.form-style-6 {

    margin: 33px auto;

}
.form-style-6 .input-group {

    webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #9ea9c1;
    margin-bottom: 16px;
    padding: 0;
    border-radius: 3px;

}
.form-style-6 .fas {

    font-size: 20px;
    color: #011c53;
    padding: 10px;
    border-right: 1px solid #9ea9c1;
}
.Hi_Name{
    margin-bottom: 17px;
}
.Hi_Name p{
    color:#011c53;
    margin-bottom: 0px;
}
input#go8{
    border-radius: 2px;
}
.form-style-6 input[type="submit"]:hover, .form-style-6 input[type="button"]:hover {
    background: #011c53;
}
.form-style-6 textarea {

    padding-top: 8px;
    padding-bottom: 0;
}
#msform a:hover{
    text-decoration:none;

}
a#go8:hover {
    color: #fff;
}

.form-style-3 {
    max-width: 100%;
    float: left;
    width: 100%;
    background: #F7F7F7;
    padding: 13px 13px;
    margin-bottom: 0px;
    

}

.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
@media (max-width:767px){
    .form-style-3 label > span {
        float: left;
        width: 100%!important;
        color: #011c53;
        font-weight: 500;
        font-size: 14px;
        text-shadow: 1px 1px 1px #fff;
    }
}
.form-style-3 label > span {
    float: left;
    width: 50%;
    color: #011c53;
    font-weight: 500;
    font-size: 14px;
    text-shadow: 1px 1px 1px #fff;
    padding-left:5px
}

.form-style-3 textarea{
    width:250px;
    height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #c5cad5;
    outline: none;
    color: #011c53;
    padding: 5px 8px 5px 8px;

    background: #fff;
    width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: #EB3B88;
    border: 1px solid #C94A81;
    padding: 5px 15px 5px 15px;
    color: #FFCBE2;
    box-shadow: inset -1px -1px 3px #FF62A7;
    -moz-box-shadow: inset -1px -1px 3px #FF62A7;
    -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}
.required{
    color:red;
    font-weight:normal;
}
@media (max-width:767px){
    .form-style-3 label {
        display: block;
        margin-bottom: 10px;
        width:100%
    }
}
.form-style-3 label {
    display: inline-block;
    margin-bottom: 10px;
    width:100%
}
.btn_section12{
    margin: 10px;
}
.btn_section12 .btn_area1{
    height: 35px;
    margin: auto
}
.right_image{
    MAX-WIDTH: 195PX;
    MARGIN: AUTO;
    TEXT-ALIGN: CENTER;
    DISPLAY: TABLE;
}
@media (max-width:767px){
    .form-style-3 input[type=text], .form-style-3 input[type=date], .form-style-3 input[type=datetime], .form-style-3 input[type=number], .form-style-3 input[type=search], .form-style-3 input[type=time], .form-style-3 input[type=url], .form-style-3 input[type=email], .form-style-3 select, .form-style-3 textarea {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #c5cad5;
    outline: none;
    color: #011c53;
    padding: 5px 8px 5px 8px;
    background: #fff;
    width: 100%!important;
}
}
@media screen and (max-width: 480px) {
    .btn_section{

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

        -ms-flex-direction: column;

        flex-direction: column;
    }
    .btn_area1 {

        margin-bottom: 16px;
    }

}
@media screen and (max-width: 550px) {

    .btn_area1 {

        margin-bottom: 16px;
        max-width:100%
    }

}